@font-face{
    font-family: vazir;
    src: url(../font/6\ yekan\ boom\ plus\ \(Tarfand3.com\).TTF);
}
:root{
    --back-color:#434343;
    --sect-color:#2d2d2d;
    --text-color:#f1f1f1;
    --secondary-color:#4ECDC4;
    --text-shadow:1px 1px 2px rgba(0, 0, 0, .7);
    --dark-text: #9f9f9f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}
body{
    background-color: var(--back-color) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
}

.sect-top{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}
.sect-top img{
    width: 100%;
    filter: brightness(.8);
    position: absolute;
    top: 0px;
    z-index: -1;
}
.sect-top h1{
    font-size: 90px;
    text-shadow: var(--text-shadow);
}
.text-top{
    display: flex;
    justify-content: space-between;
    width: 24%;
    align-items: center;
    font-size: 20px;
}
#line{
    position: relative;
}
#line::before{
    content: '';
    width: 44%;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    left: 47%;
    top: 50%;
    translate: -50% -50%;

}
#prod-btn{
    width: 300px;
    height: 60px;
    background-color: var(--sect-color);
    color: var(--text-color);
    border: none;
    font-size: 22px;
    font-weight: thin;
    margin-top: 40px;
    transition: all .4s;
    border-radius: 10px;
}
#prod-btn:hover{
    background-color: var(--back-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.category-parent{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}
.category-card{
    position: relative;
    width: 21%;
    height: 310px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    cursor: pointer;
}
.category-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    filter: brightness(.7);
    transition: all .4s;
}
.category-card h1{
    font-size: 39px;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}
.category-card:hover img{
    border-radius: 15px;
    
}
  .side-nav{
    display: none;
  }
  @media(max-width:768px){
    /* .nav-item-parent{
        display: none;
    }
    ul{
        display: none;
    }
    .nav-logo{
        display: block !important;
    } */
     main{
        top: 0;
     }
    
    .sect-top{
        height: 400px;
    }
    .sect-top img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .sect-top h1{
        font-size: 50px;
    }
    .text-top{
        width: 80%;
    }
    #line::before{
        content: '';
        width: 29%;
        height: 1px;
        background-color: var(--text-color);
        position: absolute;
        left: 46%;
        top: 50%;
        translate: -50% -50%;
    
    }
    .category-parent{
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content: center;
    }
    .category-card{
        width: 90%;
        /* height: 200px; */
        margin-top: 20px;
    }
    
  }